@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Ubuntu+Mono&display=swap');

$global-background-color-dark: #282c35;
$global-font-secondary-color-dark: #939090;
$global-font-family: Ubuntu, system-ui, -apple-system, Segoe UI, Roboto, Emoji, Helvetica, Arial, sans-serif;
$code-font-family: "Ubuntu Mono", "Source Code Pro", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;